{% extends 'layout.html' %}

{% block body %}
<h3>About us</h3>
    <hr>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam at quidem optio voluptatem numquam adipisci odio iusto 
    eligendi minus nulla unde accusantium pariatur voluptates temporibus, earum omnis officiis, provident dolore. Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Ab debitis reiciendis eaque totam rerum, aliquam obcaecati cumque in magni recusandae
     repudiandae assumenda quaerat omnis ipsam facilis dolor dolore et? Omnis? Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Perferendis dignissimos possimus tenetur architecto, impedit ea dolorum repellendus commodi eos fuga nesciunt magnam eius nam consequuntur repudiandae molestias ipsam sint ad.
      <hr>
{% endblock body %}